---
import { type CollectionEntry } from "astro:content";
import Card from "@/components/Card.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { DEFAULT_LOCALE, SUPPORTED_LOCALES } from "@/i18n/config";
import { translateFor } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { getPostsGroupedByLocale } from "@/utils/posts";

export async function getStaticPaths() {
  const authorFiles = await Astro.glob("/src/data/authors/*.md");

  return SUPPORTED_LOCALES.flatMap(locale => {
    return authorFiles.map(authorFile => {
      const authorId =
        authorFile.file.split("/").pop()?.replace(".md", "") || "";

      return {
        params: {
          locale: locale === DEFAULT_LOCALE ? undefined : locale,
          slug: authorId,
        },
        props: {
          authorData: authorFile.frontmatter,
        },
      };
    });
  });
}

const { authorData } = Astro.props;
const { slug } = Astro.params;

// Get posts for this specific author
const postsByLocale = await getPostsGroupedByLocale({
  draft: false,
  allowedLocales: SUPPORTED_LOCALES,
});

const localePosts = postsByLocale[Astro.currentLocale] || [];
const authorPosts = getSortedPosts(
  localePosts.filter(
    post => post.data.author === slug && post.data.archived !== true
  )
);

const t = translateFor(Astro.currentLocale);
const authorName =
  Astro.currentLocale === "fa" ? authorData.name : authorData.latinName;
const authorBio =
  Astro.currentLocale === "fa" ? authorData.bio : authorData.latinBio;
---

<Layout title={`${authorName} | ${t("site.title")}`}>
  <Header />
  <Main pageTitle={`${t("postsBy")} ${authorName}`} pageDesc={authorBio}>
    <ul class="space-y-4">
      {authorPosts.map(post => <Card {...post} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
