---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag) => (
    <a
      href={`/tags/${tag}`}
      class="text-xs sm:text-sm px-3 py-1.5 sm:py-1 text-primary-700 hover:text-primary-600 bg-gray-50 dark:text-primary-400 dark:bg-gray-800 rounded-full hover:bg-gray-100 dark:hover:bg-gray-600 transition-colors touch-manipulation"
    >
      #{tag}
    </a>
  ))}
</div>
